{% extends 'base.html' %}
{% load static %}

<header>
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    
</header>

{% block content %}


<div class="w-100">
    <h1 class="mb-4">Editar Veiculo</h1>
</div>

<form method="POST" enctype="multipart/form-data" id="form-editar-veiculo">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-success">Salvar</button>
    <a href="{% url 'listar-veiculos' %}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}